.show-border {
  border-radius: 5;
  border-style: solid;
  border-color: blue;
}

.carousel-height {
  height: 100px;
}

.carousel-control-next,
.carousel-control-prev {
  filter: invert(100%);
}

.carousel-inner > .item > img {
  margin: 0 auto;
}

.project-item {
  object-fit: contain;
	transition: all .2s ease-in-out;
}

.project-item:hover {
  transform: scale(1.05);
}

.top-space {
	position: relative;
	top: 150px;
}

.header {
	position: fixed;
	width: 100%;
	top: 0;
}

body {
	padding-top: 60px; /* gives room for navbar */
}

canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 800px;
}
